<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Upload</title>
  <style>
    body {
      background-color: lightblue;
    }
    h1 {
      color: white;
      text-align: center;
    }
    p {
      font-family: verdana;
      font-size: 20px;
      color:
      text-align: center;
    }
  </style>
<body>
  <h1><center>File Uploader</h1>
  <p><center>Upload a picture and classify genres.</p>
  <form id='upload-form' action="{{url_for('upload')}}" method='POST' enctype='multipart/form-data'>
  <input type="file" name='file' accept='image/*' multiple/>
  <input type="submit" value='send'/>
</body>
</html>
